<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
    <description>A custom ruleset for the ENNU Life Assessment Plugin.</description>

    <!-- Set the path to the WordPress Coding Standards. -->
    <config name="installed_paths" value="vendor/wp-coding-standards/wpcs"/>

    <!-- What to scan -->
    <file>.</file>
    <exclude-pattern>/vendor/</exclude-pattern>
    <exclude-pattern>/node_modules/</exclude-pattern>

    <!--
    WordPress Coding Standards
    -->
    <rule ref="WordPress-Extra">
        <exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
    </rule>
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array" value="ennu, ENNU" />
        </properties>
    </rule>
</ruleset> 